<div class="mt-20">
<form [formGroup]="addForm" (ngSubmit)="onSubmit()">
    <div>
        <label>FirstName
            <input type="text" formControlName="firstName">

        </label>
        <label>Last Name
            <input type="text" formControlName="lastName">

        </label>
        <label>Address
            <input type="text" formControlName="address">

        </label>
        <label>Email
            <input type="text" formControlName="email">

        </label>
        <label>Phone
            <input type="number" formControlName="phone">

        </label>

        
    </div>
    <div class="mt-20">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
    

</form>
</div>
